body{
    background-color: aquamarine;
}
h1{
    font-family: 'Jaro', sans-serif;
    font-size: 3rem;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    height: 50px;
    width: 50spx;
}